"""  ${ProjectName} Items module """

import ratpy

# ############################################################### #
# ############################################################### #


class ${ProjectName}Item(ratpy.Item):

    """ ${ProjectName} Item class """

    class Titles(ratpy.Field):
        main = ratpy.Field()
        others = ratpy.Field()

    titles = Titles()
    description = ratpy.Field()

# ############################################################### #
# ############################################################### #
